<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <script
            src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"
        > </script>
    </head>
    <body>
        <h1 id="balance">${{formatMoney .Balance}}</h1>
        <!-- <ul>
            {{range .Transactions}}
            <li>
                ID: {{.Id}}<br>
                Balance: {{.RollingBalanceDollars}}<br>
                Change: {{.AmountDollars}}<br>
                Transaction Type: {{.Type}}<br>
                Created At: {{.CreatedAt}}<br>
                Account : {{.AccountId}}<br>
            </li>
            {{end}}
        </ul> -->
        <form hx-post="/deposit" hx-target="#balance">
            <label for="deposit">Deposit:</label>
            <input type="string" id="deposit" name="deposit" />
            <br/>
            <button type="submit">Submit</button>
        </form>
        <button hx-post="/applyInterest" hx-target="#balance">Apply Interest</button>
        <form hx-post="/updateInterestRate" hx-target="#interest-rate-current">
            <label for="interest-rate">Interest Rate <span id="interest-rate-current">{{.Account.InterestRate}}</span>%:</label>
            <input type="string" id="interest-rate" name="interest-rate" />
            <br/>
            <label for="interest-frequency">Interest Frequency <span id="interest-frequency-current">{{.Account.InterestFrequency}}</span>:</label>
            <input type="string" id="interest-frequency" name="interest-frequency" />
            <br/>
            <button type="submit">Submit</button>
            {{.InterestApplied}}
        </form>
    </body>
</html>